.txpool-container {
  display: flex;
  flex-direction: column;
  .title {
    font-size: 30px;
    font-weight: 500;
    display: inline-block;
    margin-bottom: 20px;
  }
  .sub-contents {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    padding: 5px;
  }
}