@import "../../styles/colors.scss";
@import "../../styles/transitions.scss";

/* ==== Sidebar ==== */
.sidebar {
  &.close {
    width: 88px;
    .text {
      opacity: 0;
    }
    
    header {
      .toggle {
        transform: translateY(-50%);
      }
    }

    & ~ .main-contents {
      left: 88px;
      width: calc(100% - 88px);
      transition: $--trans-04;
    }
  }
  
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 250px;
  padding: 10px 14px;
  background: var(--sidebar-color);
  transition: $--trans-04;
  z-index: 100;

  /* ==== Reusable CSS ==== */
  .text {
    font-size: 16px;
    font-weight: 500;
    color: var(--text-color);
    white-space: nowrap;
    transition: $--trans-03;
    opacity: 1;
  }

  .image {
    min-width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  header {
    position: relative;

    .image-text {
      display: flex;
      align-items: center;

      .image {
        img {
          width: 40px;
          border-radius: 6px;
          background: var(--logo-color);
        }
      }

      .header-text {
        display: flex;
        flex-direction: column;
        
        .name {
          font-weight: 600;
        }
        .profession {
          margin-top: -2px;
        }
      }
    }
    
    .toggle {
      position: absolute;
      top: 50%;
      right: -25px;
      transform: translateY(-50%)  rotate(180deg);
      height: 25px;
      width: 25px;
      background: var(--primary-color);
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      font-size: 22px;
      color: var(--sidebar-color);
      transition: $--trans-02;
    }
  }

  li {
    height: 50px;
    margin-top: 10px;
    list-style: none;
    display: flex;
    align-items: center;

    a {
      height: 100%;
      width: 100%;
      display: flex;
      align-items: center;
      text-decoration: none;
      border-radius: 6px;
      transition: $--trans-04;

      &:hover {
        background: var(--primary-color);
        .icon, .text {
          color: var(--sidebar-color);
        }
      }

    }

    .icon {
      display: flex;
      align-items: center;
      justify-content: center;
      min-width: 60px;
      font-size: 20px;
    }
    .icon, .text {
      color: var(--text-color);
      // transition: $--trans-02;
    }
  }
  
  .menu-bar {
    height: calc(100% - 50px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .menu {
      margin-top: 35px; 
      .search-box {
        background: var(--primary-color-light);
        border-radius: 6px;
        transition: var($--trans-05);
        
        input {
          height: 100%;
          width: 100%;
          outline: none;
          border: none;
          border-radius: 6px;
          font-size: 16px;
          font-weight: 500;
          background: var(--primary-color-light);
          transition: var($--trans-05);
          color: var(--text-color);
        }
      }
    }

    .mode {
      position: relative;
      background: var(--primary-color-light);
      border-radius: 6px;

      .moon-sun {
        height: 50px;
        width: 60px;
        display: flex;
        align-items: center;
        background-color: var(--primary-color-light);
        border-radius: 6px;

        i {
          position: absolute;
          transition: var($--trans-04);
        }

        i.sun {
          opacity: 0;
        }
        i.moon {
          opacity: 1;
        }
      }

      .toggle-switch {
        position: absolute;
        right: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        min-width: 60px;
        cursor: pointer;
        transition: var($--trans-05);

        .switch {
          position: relative;
          height: 22px;
          width: 44px;
          border-radius: 25px;
          background-color: var(--toggle-color);

          &::before {
            content: "";
            position: absolute;
            height: 15px;
            width: 15px;
            border-radius: 50%;
            top: 50%;
            left: 6px;
            transform: translateY(-50%);
            background: var(--sidebar-color);
            transition: $--trans-03;
          }
          &.dark {
            &::before {
              left: 24px;
            }
          }
        }
      }
    }
  }
}

/* ==== Main Contents ==== */
.main-contents {
  position: relative;
  left: 250px;
  height: 100vh;
  width: calc(100% - 250px);
  background: var(--body-color);
  transition: $--trans-04;

  font-size: 30px;
  font-weight: 500;
  padding: 8px 40px;
  color: var(--text-color);
}

/* ==== When DarkMode clicked ==== */
body.dark {
  .sidebar {
    header {
      .toggle {
        color: var(--text-color);
      }
    }
    li {
      a:hover {
        .icon, .text {
          color: var(--text-color);
        }
      }
    }
  }

  .menu-bar {
    .mode {
      .moon-sun {
        i.moon {
          opacity: 0;
        }
        i.sun {
          opacity: 1;
        }
      }
    }
  }
}

